

<!-- page2/page2-2.html -->

<!-- <button class="navigate-button" onclick="window.location.href='page2/page2-1.component.html'">Go to Page 2.2</button> -->

<!-- move to next page  -->
<!-- <a href="page2-1/">Go to Page 2</a> -->


<p>page2 works!</p>
<h1>This is Page 2.1</h1>
<button (click)="goToPage1()">Go to Page 2</button>


<nav>
  <!-- <a routerLink="page21">Page 21</a> --> <!--Link to Page21 -->
  <a routerLink="page21">page 21</a> |
  <a routerLink="page22">Page 22</a>
</nav>
<router-outlet></router-outlet>  <!-- Outlet for child routes -->

<!-- </body>
</html> -->